/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import "https://cdnjs.cloudflare.com/ajax/libs/material-tailwind/1.0.0/material-tailwind.min.css";
@import url('https://fonts.google.com/share?selection.family=Playwrite+PL:wght@100..400');
@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button2 {
    @apply inline-block relative overflow-hidden z-10 text-black py-3 px-6 cursor-pointer text-lg rounded-md bg-gray-200 border border-gray-200 shadow-md transition-all duration-200 ease-in-out;
  }
  .button2:active {
    @apply text-gray-500 shadow-inner;
  }
  .button2:before, .button2:after {
    @apply absolute rounded-full transition-all duration-500 ease-out;
    content: "";
    z-index: -1;
  }
  .button2:before {
    width: 140%;
    height: 180%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    background-color: rgba(231, 24, 24, 0.05);
  }
  .button2:after {
    width: 160%;
    height: 190%;
    top: 180%;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    background-color: #eb1207;
  }
  .button2:hover {
    @apply text-white border-teal-600;
  }
  .button2:hover:before {
    top: -35%;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    background-color: #eb1207;
  }
  .button2:hover:after {
    top: -45%;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
}

